body {
    background-image: url(./images/background.mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url(../../../../public/fonts/CaviarDreams.ttf);
    font-weight: normal;
    font-style: normal;
}

.font-caviar {
    font-family: 'Caviar Dreams', sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(./images/background.desktop.jpg);
    }
}

.bg-bilingue {
    background-color: #2c99d4ba;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}