body {
    background-image: url(./images/background.desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(./images/background.mobile.jpg);
    }
    
}

.bg-bilingue {
    background-color: #2c99d4ba;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
